.calculatorKeys
  background-color: #fabd71
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-row-gap: 2px


.calculatorKeys > *
  background-color: #ff842c
  padding: 0.5em 1.25em
  position: relative
  text-align: center
  font-family: 'Jost', sans-serif

.calculatorKeys > *:active::before,
.calculatorKeys > .is-depressed::before
  background-color: rgba(0, 0, 0, 0.2)
  bottom: 0
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset
  content: ""
  left: 0
  opacity: 0.3
  position: absolute
  right: 0
  top: 0
  z-index: 1
  font-family: 'Jost', sans-serif



.keyOperator
  background-color: #fabd71
  font-weight: normal
  font-family: 'Jost', sans-serif


.keyEqual
  background-color: #fe9b37
  grid-column: -2
  grid-row: 2 / span 3
  font-family: 'Jost', sans-serif


.keySave
  background-color: #fe9b37
  font-family: 'Jost', sans-serif
