@import "./sass/colors"
@import "./sass/flex"

.displaysContainer
  @include flexColumnCenter
  max-width: 10rem
  overflow-x: auto
  white-space: nowrap
  background-color: $displayCharcoal

.upperDisplay
  position: relative
  color: $upperDispFontColor
  font-size: 18px
  padding: 16px 12px 0px 12px
  text-align: right
  font-weight: 400
  height: 15px
  font-family: $calculatorJost

.mainDisplay
  position: relative
  color: $mainDispFontColor
  font-size: 38px
  padding: 0px 12px 19px 12px
  text-align: right
  letter-spacing: 1px
  font-family: $calculatorJost

.successMessage
  position: fixed
  background-color: $displayCharcoal
  color: $successMsgColor
  font-size: initial
  align-self: center
  margin-top: 80px
  font-weight: 500
  font-family: $calculatorJost
