@import "./sass/colors"
@import "./sass/flex"

.displaysContainer
  @include flexColumnCenter

.upperDisplay
  background-color: $displayCharcoal
  color: $upperDispFontColor
  font-size: 0.8em
  padding: 15px 12px 0px 12px
  text-align: right
  font-weight: 400
  height: 2em
  font-family: $calculatorJost

.mainDisplay
  background-color: $displayCharcoal
  color: $mainDispFontColor
  font-size: 38px
  padding: 0px 12px 19px 12px
  text-align: right
  letter-spacing: 1px
  font-family: $calculatorJost

.successMessage
  position: fixed
  background-color: $displayCharcoal
  color: $successMsgColor
  font-size: initial
  align-self: center
  margin-top: 91px
  font-weight: 500
  font-family: $calculatorJost
